.dashboard-container .dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-container .dashboard-header img {
  height: 133px;
  width: 234px;
}

.sidebar {
  width: 20%;
}
.sidebar > div {
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.sidebar > div > img {
  margin-right: 8px;
}
.selected {
  background-color: #7ac141;
  border-radius: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}
