@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
:root {
  --primaryGrey: #E5E5E5;
  --black: #333333;
}

code {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
